<div class="card bg-dark text-white">
  <div class="card-body d-flex flex-column">
    <mat-toolbar class="bg-dark text-white">
      <h3 class="text-center">Active Learning Project</h3>
      <span class="spacer"></span>
      <button mat-button class="menu-button" routerLink="/login">
        <span>Cancel</span>
      </button>
    </mat-toolbar>

    <h4 class="card-header">Joining</h4>
    <form
      class="form-horizontal"
      role="form"
      [formGroup]="registerForm"
      (submit)="onRegister()"
    >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && controls['name'].errors }"
          />
          <div
            *ngIf="submitted && controls['name'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="controls['name'].errors['required']">
              Name is required
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="surname">Surname</label>
          <input
            type="text"
            class="form-control"
            id="surname"
            placeholder="Surname"
            formControlName="surname"
            [ngClass]="{
              'is-invalid': submitted && controls['surname'].errors
            }"
          />
          <div
            *ngIf="submitted && controls['surname'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="controls['surname'].errors['required']">
              Surname is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="dob">Date of birth</label>
          <input
            type="date"
            class="form-control"
            id="dob"
            formControlName="dob"
            [ngClass]="{ 'is-invalid': submitted && controls['dob'].errors }"
          />
          <div
            *ngIf="submitted && controls['dob'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="controls['dob'].errors['required']">
              Date of birth is required
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="github">Github username</label>
          <input
            type="text"
            class="form-control"
            id="github"
            placeholder="Github username"
            formControlName="github"
            [ngClass]="{
              'is-invalid': submitted && controls['github'].errors
            }"
          />
          <div
            *ngIf="submitted && controls['github'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="controls['github'].errors['required']">
              Github username is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && controls['email'].errors }"
          />
          <div
            *ngIf="submitted && controls['email'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="controls['email'].errors['required']">
              Email is required
            </div>
            <div *ngIf="controls['email'].errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="phoneNumber">Phone number</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            placeholder="0123456789"
            formControlName="phoneNumber"
            [ngClass]="{
              'is-invalid': submitted && controls['phoneNumber'].errors
            }"
          />
          <div
            *ngIf="submitted && controls['phoneNumber'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="controls['phoneNumber'].errors['required']">
              Phone number is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstCourse">Area of interest</label>
          <select id="firstCourse" class="form-control" formControlName="firstCourse">
            <option
              *ngFor="let course of values(courses)"
              [ngValue]="course"
              [disabled]="isDefaultCourse(course)"
            >
              {{ course }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="secondCourse">Second choice</label>
          <select id="secondCourse" class="form-control" formControlName="secondCourse">
            <option
              *ngFor="let course of values(courses)"
              [ngValue]="course"
              [disabled]="isDefaultCourse(course)"
            >
              {{ course }}
            </option>
          </select>
        </div>
      </div>
      <button type="submit" class="submit btn btn-primary">Add</button>
      <button
        class="btnReset btn btn-secondary"
        type="reset"
        (click)="onReset()"
      >
        Reset
      </button>
    </form>
  </div>
</div>
