.card {
  height: 100%;
}

.card-body {
  padding: 5em;
}
.btn {
  float: right;
}

.btnReset {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .card-body {
    padding: 0em;
  }
  .btn {
    float: none;
    width: 100%;
  }
  .btnReset {
    margin-top: 20px;
  }
}
