<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="mat-elevation-z10" mode="side" opened>
      <h4>
        Managements
      </h4>
      <ul>
        <li><a href="#">Board </a></li>
        <li><a href="#">User  </a></li>
        <li><a href="#">Role </a></li>
        <li><a href="#">Course </a></li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar color="accent">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        Hi Tshimangadzo Mudzanani
      </mat-toolbar>

    </mat-sidenav-content>
  </mat-sidenav-container> -->
  <!-- <plt-board></plt-board> -->
  <!-- <plt-login></plt-login> -->
  <plt-register></plt-register>
  <!-- <plt-view-users></plt-view-users> -->
  <!-- <plt-footer></plt-footer> -->