.card-text {
  padding: 10px;
}
.card {
  margin: auto;
  height: 100%;
  /* margin-top: 50px; */

  /* margin-bottom: 100px; */
}
img {
  height: 100%;
}
.row {
  height: 100%;
}
.card-header {
  margin-top: 20%;
  text-align: center;
}

.card-body{
    padding: 0em 5rem 0em 5em;
}
.btn-link{
    float:right;
}

@media screen and (max-width: 600px) {
  .card {
    width: 20rem;
  }
  button,
  input {
    width: 100%;
  }
  img {
    height: 100%;
  }
  .content {
    height: 200px;
  }
  .card-body{
    padding: 0em 1rem 0em 1em;
}
.card-header {
    margin-top: 0%;
  }
  .btn-link{
    float: none;
}

}
